<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Tiny messages</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

  <div id="header">
    <% if signed_in? %>
      <%=h t(:hello, :default => "Hello %{login}", :login => current_user.login, :scope => [:application]) %>
    <% end %>
  </div>

  <div id="main">
  <p style="color: green"><%= flash[:notice] %></p>
  <%= yield  %>
  </div>

</body>
</html>
